/config/master.key
node_modules/


*.rbc

.rspec

/public/system
/coverage/
/spec/tmp


# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb


# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv, dotenv-rails
# TODO Comment out these rules if environment variables can be committed
.env
.env.*

## Environment normalization:
/.bundle
/vendor/bundle



# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets


# Ignore uploaded files in development
/storage/*
!/storage/.keep
/public/uploads