.new-post-form {
      display: flex;
    max-height: min-content;
    height: fit-content;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-self: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 8px 21px 12px rgba(82, 82, 82, 0.2);
  
    // box-shadow: 
}

  
.preview-outline {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    padding: 1vw;
    height: 21vw;
    width: 28vw;
  }

.scanner-icon {
object-fit: contain;
justify-content: space-around;
width: 60%;
}

.post-mid{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-content: center;
}
.post-right-mid {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
  
}
.title-input-field {
  text-align: center;
  background-color: #fafafa;
  text-overflow: ellipsis;
  border-radius: 3px;
  border: 1px solid #c7c7c7;
  box-sizing: border-box;
  margin:4px;
}

//stylized input
.inputfile-5 + label {
    color: #d3394c;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
    color: #722040;
}

.inputfile-5 + label figure {
    width: 100px;
    height: 135px;
    background-color: #d3394c;
    display: block;
    position: relative;
    padding: 30px;
    margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
    background-color: #722040;
}

.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

.inputfile-5 + label figure::before {
    border-top: 20px solid #dfc8ca;
    border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
    border-bottom: 20px solid #722040;
    border-right: 20px solid transparent;
}

.inputfile-5:focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
.inputfile-5 + label:hover figure::after {
    border-bottom-color: #d3394c;
}

.inputfile-5 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}
//
// .photo-input-field{
//   padding: 5px;
//   border-radius: 5px;
//   display: flex;
//   justify-content: center;
//   align-content: center;
//   outline: none;
// }

// .photo-input-field:hover{
//   cursor:pointer;
// }

//
.location-input-field{
  text-align: center;
  background-color: #fafafa;
  text-overflow: ellipsis;
  border-radius: 3px;
  border: 1px solid #c7c7c7;
  box-sizing: border-box;
}
      
    
.post-form-buttons{
  display:flex;
  justify-content: center;
  align-content: center;
}
.post-button-cancel {
  background-color: forestgreen;
  width: 100%;
  height: 40px;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 700;
  color: white;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  border: 1px solid #fafafa;
}
.post-button-cancel:hover{
  cursor:pointer;
}
.post-button-upload {
  width: 100%;
  height: 40px;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 700;
  color: white;
  box-sizing: border-box;
  background-color: #3897f0;
  border-radius: 4px;
  outline: none;
  border: 1px solid #fafafa;
}
.post-button-upload:hover{
  cursor:pointer;
}

