.new-post-form {
  display: flex;
  flex-direction:column;
  // margin-left: 230px;
  // width: 450px;
  // height: 450px;
  justify-content: space-evenly;
  align-content: center;
}

  
.preview-outline {
    display:flex;
    justify-content: center;
    align-content: center;
    padding: 1vw;
    height: 21vw;
    width: 28vw;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 8px 21px 12px rgba(82, 82, 82, 0.2);
  }

.scanner-icon {
object-fit: contain;
justify-content: space-around;
// margin-left: 70px;
// margin-top:30px;
width: 60%;
// height: auto;
// padding:2px;
}


.post-right-mid {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  // width: 300px;
  font-weight: bolder;
}
.title-input-field {
  //  height: 2vw;
  // max-height: 6vw;
  // max-width: 14vw;
  // width: 14vw;
  /* margin: 5px; */
  text-align: center;
  background-color: #fafafa;
  /* padding-left: 5px; */
  text-overflow: ellipsis;
  // font-size: 14px;
  border-radius: 3px;
  border: 1px solid #c7c7c7;
  box-sizing: border-box;
  margin:4px;
}
.photo-input-field{
  padding: 5px;
  // width:7vw;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  outline: none;
}

.photo-input-field:hover{
  cursor:pointer;
}
// .upload-photo:hover{
//   cursor:pointer;
// }
.location-input-field{
  // height: 2vw;
  // max-height: 6vw;
  // max-width: 14vw;
  // width: 14vw;
  /* margin: 5px; */
  text-align: center;
  background-color: #fafafa;
  /* padding-left: 5px; */
  text-overflow: ellipsis;
  // font-size: 14px;
  border-radius: 3px;
  border: 1px solid #c7c7c7;
  box-sizing: border-box;
}
      
    

.post-button-cancel {
  background-color: forestgreen;
  width: 100%;
  height: 40px;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 700;
  color: white;
  // margin: 0.5rem 0;
  box-sizing: border-box;
  // background-color: #3897f0;
  border-radius: 4px;
  outline: none;
  border: 1px solid #fafafa;
}
.post-button-cancel:hover{
  cursor:pointer;
}
.post-button-upload {
  width: 100%;
  height: 40px;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 700;
  color: white;
  // margin: 0.5rem 0;
  box-sizing: border-box;
  background-color: #3897f0;
  border-radius: 4px;
  outline: none;
  border: 1px solid #fafafa;
}
.post-button-upload:hover{
  cursor:pointer;
}

