/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Navbar  */

.nav-bar-container {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 7vh;
    max-height:10vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid lightgrey;
    /* min-width: 80vw; */
    z-index: 100;
}

.nav-right {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-left {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-middle {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* .fotobox-icon {
  font-size: 32px;
  align-content: center;
} */
.lightmeter {
    width: 6vh;
    height: 6vh;
    object-fit: scale-down;
    margin: 1vw;
}
.post-form-icon {
    margin-left: 3vw;
    width: 6vh;
    height: 6vh;
    margin-bottom: 1vh;
}
.profile-display-pic-nav {
  width: 6vh;
  height: 6vh;
  object-fit: cover;
  border: 1px solid #dbdbdb;
  background-color: darkgrey;
  border-radius: 90px;
}
.nav-link-logo {
    position: relative;
    justify-content: center;
    font-family: "Satisfy", cursive;
    font-size: 4vh;
}


.nav-icon {
    display: flex;
    color: black;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 1vw;
}



.search-with-results-wrap {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
}

.search-result-image {
  width: 30px;
  height: 30px;
  margin: 1px;
  display: flex;
  border-radius: 50%;
}

.nav-sign-out:hover {
  cursor: pointer;
}

/* .nav-sign-out {
  height: 30px;
  width: auto;
  margin-left: 30px;
  font-weight: bolder;
  padding-bottom: 19px;
  padding-left: 18px;
} */
.nav-sign-out-icon {
height: 5vh;
    width: 5vh;
    margin-left: 3vw;
    margin-right: 3vw;
}
.user-search-results{
  justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    /* width:100%; */
}
.search-result-image {
  width: 30px;
  height: 30px;
  margin: 1px;
  display: flex;
  border-radius: 50%;
}
.outer-results{
  display: flex;
    justify-content: center;
}
.search-results-list {
  background: #fff;
  border: solid 1px #e6e6e6;
  /* -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.0975); */
 border-radius: 5px;
    box-shadow: 8px 21px 12px rgba(82, 82, 82, 0.2);
  /* right: -12px; */
  z-index: 10;
  list-style: none;
  padding-left: 0;
  width: 100%;
  /* margin-top: 20px; */
  max-height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.search-results-container {
  display: flex;
  /* top: 45px; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  min-width:fit-content;
}

.outer-results-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.search-result-user {
  width: 100%;
  display: flex;
  padding-left: 10px;
  min-height: fit-content;
  z-index: 10;
  align-items: center;
  border-bottom: 1px solid rgb(233, 232, 232);
}

.search-result-li:hover {
  background-color: #fafafa;
}

.search-result-user,
.search-result-user:visited {
  text-decoration: none;
  color: black;
}

.search-result-username {
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  font-weight: bold;
}

.user-search-lrg {
     /* margin-top: 2vh; */
    width: 40%;
    min-width: 12vw;
    height: 3vh;
    /* display: flex; */
    align-items: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1vh;
    border-radius: 3px;
    background-color: #fafafa;
    outline: none;
}
/* .user-search-sml{
  display:none;
    width: 40%;
    min-width: 12vw;
    height: 3vh;
    /* display: flex; 
    align-items: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 9px;
    border-radius: 3px;
    background-color: #fafafa;
    outline: none;
}

@media (max-width: 800px){
  .user-search-lrg{
     width:0%; 
    display:none !important;
  }
  .user-search-sml{
    width:40% !important;
    display:inline-block !important;

  }
} */
/* @media (max-width:800px){
} */


/*
@media (max-width: 375px){
  .nav-bar-container {
    margin: 1vh !important;
    height: 7vh !important;
}
.nav-left {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .nav-link-logo {
    font-size: 4vh;
}
.lightmeter {
    width: 5vh;
    height: 5vh;
    margin:0vw;
}
.nav-right {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-search-lrg {
    
    font-size: 3vh;
    height: 4vh;
    
}
.profile-display-pic-nav {
    width: 7vh !important;
    height: 7vh !important;
    margin-bottom: 1vw;
    margin-right: 1vw;
}
.post-form-icon {
    width: 6vh !important;
    height: 6vh !important;
    margin: 1vw;
}
.user-search-results {
    width: 11vh;
}
.nav-sign-out-icon {
    width: 6vh !important;
    height: 6vh !important;
        margin-left: 1vw;
    margin-top: 1vw;
    margin-right: 0vw;
}
.nav-icon{
  margin:0vw;
}
}
*/

@media (max-width:400px){
  .nav-bar-container{
    margin:1vh;
    height:11vh;
  }
  .nav-link-logo{
    font-size:9vh;
  }
  .user-search-results{
    width:35vh;
  }
  .lightmeter{
    width:10vh;
    height:10vh;
  }
  .user-search-lrg{
    width:100%;
    font-size:4vh;
    height:5vh;
  }
}