.post-show-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.post-box {
  display: flex;
  border: 1px solid lightgrey;
  font-family: "Roboto", sans-serif;
}

.post-show-detail-box {
  width: 300px;
  height: 500px;
  background-color: white;
  display: flex;

  flex-direction: column;
  align-items: left;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.post-author {
  display: flex;
  padding: 8px;
  height: 40px;
  font-weight: bolder;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
}

.author-link {
  display: flex;
  text-decoration: none;
  color: black;
  align-items: center;
}

.post-comments {
  height: 300px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-left: 8px;
  padding-top: 8px;
  overflow: auto;
  font-size: 14px;
}
.post-show-likes {
  padding-top: 8px;
}

.link-wrap {
  display: flex;
  width: 800px;
  justify-content: flex-end;
  padding-bottom: 3px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
.post-title-show {
  padding: 8px;
  font-size: 14px;
  /* height: 40px; */
  font-weight: bolder;
  text-decoration: none;
  /* justify-content: space-between; */
  align-items: flex-end;
  margin-left: 10px;
}

.post-bio {
  margin-bottom: 10px;
}
.title-span {
  margin-left: 20px;
  margin-bottom: 3px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}
.show-buttons {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  /* align-items: center; */

  margin-left: 11.5px;
}
.show-likecount {
  margin-left: 23px;
}

.show-icon {
  padding-left: 8px;
  padding-right: 5px;
  color: black;
  font-size: 28px;
}

.show-icon:hover {
  cursor: pointer;
  color: grey;
}
.delete-comment-button:hover {
  cursor: pointer;
   width: 15px;
  height: 15px;
  margin-left: 5px;
  padding-left: 4px;
  text-overflow: ellipsis;
  font-size: 10px;
  font-weight: 700;
  color: white;
  box-sizing: border-box;
  background-color: #c94141;
  outline: none;
}
.delete-comment-button {
  border-radius: 4px;
  border: 1px solid #fafafa;
  width: 20px;
  height: 15px;
  margin-left: 5px;
  padding-left: 4px;
  text-overflow: ellipsis;
  font-size: 10px;
  font-weight: 700;
  color: rgb(173, 173, 173);
  border-radius: 4px;
  border: none;
  background: none;
  outline: none; 
}

.feed-textarea {
  margin-left: 15px;
  margin-bottom: 10px;
  text-align: left;
  width: 250px;
  height: 35px;
  background-color: #fafafa;
  padding-left: 5px;
  text-overflow: ellipsis;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #efefef;
  box-sizing: border-box;
}
.delete-button {
  margin-left: 50px;
  display: flex;
  width: 80px;
  height: 30px;
  justify-content: space-around;
  padding-top:4px;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 700;
  color: white;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: #c94141;
  border-radius: 4px;
  outline: none;
  border: 1px solid #fafafa;
}

.delete-button:hover {
  cursor: pointer;
}
/* .comment-body{
  display: flex;
} */

.submit-comment-button-index {
    margin-left: 5vw;
    display: flex;
    width: 6vw;
    height: 2.2vw;
    justify-content: space-around;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 700;
    color: white;
    box-sizing: border-box;
    margin-bottom: 0vw;
    background-color: #3897f0;
    border-radius: 4px;
    outline: none;
    border: 1px solid #fafafa;
    /* padding-top: 0.8vw; */
    align-items:center;
}
.submit-comment-button-index:hover {
  cursor: pointer;
}

.submit-comment-button:hover {
  cursor: pointer;
}
.submit-comment-button {
     margin-left: 5vw;
    display: flex;
    width: 6vw;
    height: 2.2vw;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 700;
    color: white;
    /* margin: 3px; */
    box-sizing: border-box;
    /* margin-bottom: 7px; */
    margin-bottom: 0vw;
    background-color: #3897f0;
    border-radius: 4px;
    outline: none;
    border: 1px solid #fafafa;
}
.show-textarea {
  margin-left: 40px;
  margin-bottom: 5px;
  text-align: left;
  width: 250px;
  height: 40px;
  background-color: #fafafa;
  padding-left: 5px;
  text-overflow: ellipsis;
  font-size: 14px;
  margin: 3px;
  border-radius: 3px;
  border: 1px solid #efefef;
  box-sizing: border-box;
}
/* .feed-comment-form {
  margin-left: 40px;
  margin-bottom: 5px;
  text-align: left;
  width: 250px;
  height: 40px;
  background-color: #fafafa;
  padding-left: 5px;
  text-overflow: ellipsis;
  font-size: 14px;
  margin: 3px;
  border-radius: 3px;
  border: 1px solid #efefef;
  box-sizing: border-box;
} */

.show-comment-form {
  margin-left: 20px;
}



.like-button {
  padding-left: 8px;
  padding-right: 5px;
  color: black;
  font-size: 14px;
  font-weight: bold;
  transform: scale(1.2, 1);
}
.like-button-liked {
  color: crimson;
}

.like-button:hover {
  cursor: pointer;
}
.image-overlay-text{
  /* opacity: 0;
  position: absolute; */
  margin-top: 5px;
  margin-left:20px;
}

.image-overlay-text:hover {
  cursor: pointer;
  opacity: 1;
}

.profile-photo-index:hover {
  cursor: pointer;
}
