@media only screen and (max-width: 600px){
.profile-wrap .profile-container .profile-photo-index-container .profile-photo-index .image-container .user-page-photos {
    object-fit: cover;
    z-index: 1;
    width: 41vw;
    height: 41vw;
    margin: 20px;
}
}
// @media only screen and (min-width: 600px){

// }
@media only screen and (min-width: 992px){

}
// @media only screen and (min-width:1200px){
//     .profile-wrap{

//         .profile-container{
//             .profile-top{
//                 .profile-top-right{
//                     .profile-top-up{

//                         h1{
//                             margin-right:140px
//                         }
//                         .profile-top-buttons{
//                             margin-left:100px;
//                         }
//                         justify-content: space-around;
//                     }
//                 }
//             }
//             width:83vw;
//             .image-container{
//                 .user-page-photos{
//                     width:18vw;
//                     height:18vw;
//                 }
//             }
//         }
//     }
// }